.fondo {
    background-color: #e9ecef;
}

.blurred {
    backdrop-filter: blur(6px);
}

.each-slide > div {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position: center;
    height: 650px;
}