

.fondo {
    background-color: #e9ecef;
}

.blurred {
    backdrop-filter: blur(6px);
}

.each-slide > div {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position: center;
    height: 650px;
}

/* .img {
    background-image: url("../images/port.png");
    background-size:cover;
    background-repeat: no-repeat;
} */


.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #e9ecef;
}

main {
    min-height: calc(100vh - 100px);
}


.card-article {
    transition: transform 0.2s ease;
  }
  

  .card-article:hover {
    transform: translateY(-17px);
  }
  
  .portada {
    width: "100vw";
    height: 500px;
  }